@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/*font-family: 'Outfit', sans-serif;*/
*{
    padding: 0;
    margin: 0;
}
body{
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: hsl(220, 15%, 55%);
}
.container{
  background-color: white;
  width: 270px;
  border: 1px solid white;
  margin-top: 50px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bannerImg img{
  margin-top: 10px;
 margin-right:auto  ;
 margin-left: auto;
 width: 250px;
 border-radius: 15px;
 margin-right: auto;
 margin-left: auto;
}
.bannerContent h1,p {
  text-align: center;
  font-family: 'Outfit', sans-serif;
  margin: 20px;
}
.bannerContent h1{
  font-size: 20px;
 color:  hsl(218, 44%, 22%);
}
.bannerContent p{
  font-size: 13px;
  color: rgb(124, 121, 121);
  margin-bottom: 40px;
}

.attribution { 
    font-size: 11px; text-align: center;
 }
.attribution a { 
    color: hsl(228, 45%, 44%);
 }